<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置MyBatis-->


    <!--1. 配置数据库-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--2. 配置数据库c3p0连接池-->

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--c3p0连接池属性-->
        <property name="driverClass" value="${driver}"/>
        <property name="jdbcUrl" value="${url}"/>
        <property name="user" value="${user}"/>
        <property name="password" value="${password}"/>
        <!--c3p0连接池的私有属性-->
        <property name="maxPoolSize" value="40"/>
        <property name="minPoolSize" value="10"/>
        <property name="autoCommitOnClose" value="false"/>
        <!--获取连接超时时间-->
        <!--<property name="checkoutTimeout" value="1024"/>-->
        <!--获取失败的重试次数-->
        <property name="acquireRetryAttempts" value="2"/>
    </bean>

    <!--3. 配置SQL SessionFactory(MyBatis层)-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--引入MyBatis的全局配置-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--自动扫描entity-->
        <property name="typeAliasesPackage" value="com.ilovecl.entity"/>
        <!--自动扫描各个mapper需要的xml文件-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!--4. 扫描DAO接口包，动态实现DAO接口，注入到Spring(Spring层)-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入sqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--扫描DAO接口包-->
        <property name="basePackage" value="com.ilovecl.dao"/>
    </bean>


</beans>